// Grey Color:
$--color-grey-100: #bcbcbb;
$--color-grey-200: #9c9c9c;
$--color-grey-300: #7c7c84;
$--color-grey-400: #44444c;

// Black Color:

$--color-black-100: #14141c;
$--color-black-200: #040c0c;
$--color-black-300: #040404;

// Yellow Color:
$--color-yellow-100: #fbd42c;
$--color-yellow-200: #f8c009;
$--color-yellow-300: #dbb224;
$--color-yellow-400: #efa71d;

// Blue Color:
$--color-blue-100: #099cd6;
$--color-blue-200: #3990d1;
$--color-blue-300: #047fc1;
$--color-blue-400: #3b72e4;

// Red Color:
$--color-red-100: #fc0424;
$--color-red-200: #fc0404;
$--color-red-300: #f80404;
$--color-red-400: #b40404;

// Green Color:
$--color-green-100: #d4fcbc;
$--color-green-200: #04fc44;
$--color-green-300: #04e474;
$--color-green-400: #048444;

// Pink color:
$--color-pink-100: #f4cccc;
$--color-pink-200: #fca0b6;
$--color-pink-300: #fb6cc4;
$--color-pink-400: #fc2c9c;

// Purple color:
$--color-purple-100: #bc04fc;
$--color-purple-200: #c1449f;
$--color-purple-300: #93437c;
$--color-purple-400: #8a15aa;
